.stories {
    position: relative;
    padding: 10rem 0;
 
    &__header {
        margin-bottom: 4.5rem;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }
    
    
}