.tours {
    padding: 15.625rem 0 10rem;

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        list-style: none;

        // @include respond(tab-land) {
        //     flex-direction: column;
        // }
    }

    &__card-option {
        flex: 0 0 20%;

        @include respond(tab-land) {
            flex-basis: 50%;
        }

        @include respond(tab-port) {
            flex-basis: 100%;
        }
    }

    .section-subtitle { 
        margin-bottom: 0;
    }

    &__discover-box {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
    }

    &__discover-link {
        background-color: $color-med-green;
        color: $color-bright;
        animation: moveInBottom 1s ease-out backwards 0.5s;
    }

    &__discover-link::after {
        background-color: $color-med-green;
    }
}