.tours {
    padding: 250px 0;

    &__card-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        list-style: none;
    }

    &__card-option {
        flex: 0 0 20%;
    }

    .section-subtitle { 
        margin-bottom: 0;
    }
}