.flip {
    perspective: 1500px;
    height: 33rem;
    position: relative;
   
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 33rem;
        width: 100%;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 15px 40px rgba(0,0,0, .15);
        overflow: hidden;

        // &--front {
            
        // }

        &--back {
            transform: rotateY(180deg);

            &-sea {
                background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark);
            }

            &-forest {
                background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green);
            }

            &-snow {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
            }
             
        }

    }


    &:hover &__side--front, &:focus &__side--front {
        transform: rotateY(180deg);
         
    }

    &:hover &__side--back, &:focus &__side--back {
        transform: rotateY(0deg);
        
    }

    &__picture {
        background-size: cover;
        height: 230px;
        background-blend-mode: color;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        backface-visibility: hidden;

        &--sea {
            background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark), url(../img/nat-5.jpg);
        }

        &--forest {
            background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green), url(../img/nat-6.jpg);
        }

        &--snow {
            background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 1.75rem;
        text-align: right;
        position: absolute;
        top: 5rem;
        right: 2rem;
        color: $color-bright;
        max-width: 75%;

        .section-subtitle {
            font-weight: $font-light;
        }

    }

    &__heading-span {
        &--sea {
            background-image: linear-gradient(to right bottom,
            rgba($color-orange-light, .85), 
            rgba($color-orange-dark, .85));
        }

        &--forest {
            background-image: linear-gradient(to right bottom,
            rgba($color-light-green, .85), 
            rgba($color-dark-green, .85));

        }

        &--snow {
            background-image: linear-gradient(to right bottom,
            rgba($color-blue-light, .85), 
            rgba($color-blue-dark, .85));

        }
    }

    &__details {
        list-style: none;
        padding: 1rem 4rem;
        font-size: 1.1rem;
    }

    &__details-options {
        text-align: center;
        padding: .5rem;
        &:not(:last-child) {
            border-bottom: 1px solid rgba($color-text, .2);
        }
    }
       
}