.form {
    &__group:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    
    &__input {
        display: block;
        width: 100%;
        font-family: inherit;
        color: inherit;
        font-size: 1rem;
        padding: 1rem 1.25rem;
        border-radius: 2px;
        background-color: $color-bright;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-dark, .1);
            border-bottom: 3px solid $color-med-green;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-orange-dark;
        }

        &::placeholder {
            color: $color-placeholder;
        }
    }


    &__label {
        
        font-weight: $font-bold;
        margin-left: 20px;
        margin-top: .5rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        display: flex;
        
        gap: 1rem;
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__radio-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        border: 5px solid $color-med-green;
        border-radius: 50%;
        

        &::after {
            content: "";
            display: block;
            height: .9rem;
            width: .9rem;
            background-color: $color-med-green;
            border-radius: 50%;
            opacity: 0;
            transition: all .3s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }

   &__link {
    background-color: #55c57a;
    color: #fff;
    -webkit-animation: moveInBottom 1s ease-out backwards 0.5s;
    animation: moveInBottom 1s ease-out backwards 0.5s;
    border: none;
    cursor: pointer;
   }
}