.info-link {
    display: inline-block;
    padding: .4rem 0;
    border-bottom: 1px solid $color-med-green;
    font-size: 1.3rem;
    transition: all .3s;

    &:link, &:visited {
        color: $color-med-green;
        text-decoration: none;
    }

    &:hover, &:focus {
        background-color: $color-med-green;
        color: $color-bright;
        transform: translateY(-10px);
        box-shadow: $box-shadow;
    }
}