.story {
    
    max-width: 65%;
    margin: 0 auto;
    background-color: rgba($color-bright, .5);
   box-shadow: 0 30px 60px rgba($color-dark, .1);

    padding: 4rem 7rem;

    &__shape {
        float: left;
        margin-right: 2rem;
        height: 200px;
        width: 200px;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    &__picture {
        height: 100%;
    }

    &__text {
        margin-bottom: 0;
    }

   
}